.reg{
  margin: 0 auto;
  /* overflow:hidden; */
  padding: 10 2.5rem;
}
label{
  color: #9d9d9d
}
td{
  overflow: hidden;
}
.select{
  border: 0.0625rem solid #dddee1;
  border-radius: none !important;
  width:  1.25rem;
  height:  1.25rem;
  vertical-align: middle;
}
.select:checked  {
  background: url('/assets/img/check.png') no-repeat center center;
  background-size: 0.5rem 0.5rem;
}
.select + label{
  font-size: .9em;
  color: #979797;
  margin: 0 0.625rem;
}
.submit{
  border-radius: 0;
  padding: 0.3125rem 1.875rem;
  background-color: #09925E;
  color: white;
}
.btn-outline-secondary:hover{
  background-color: transparent;
}
table{
border-collapse:separate;
border-spacing:1em;
}
tr{
  padding-bottom: 2em;
}
