<div class="row">
  <span class="page_title mb-4">Deliverable managment</span>
</div>
<div class="d-flex justify-content-between align-items-center">
  <div class="input-group no-border">
    <div class="input-group-append">
      <div class="input-group-text">
        <i class="nc-icon nc-zoom-split search-icon"></i>
        <i class="nc-icon nc-minimal-down down-icon"></i>
      </div>
      <input type="text" value="" class="form-control" placeholder="Search :">
    </div>
  </div>
  <button class="add-button align-items-center d-flex">
    <img src="assets/img/icons/plusadd.svg" alt="">Add New</button>
</div>
<div>
  <div id="tabs">
    <ul class="nav nav-tabs" id="user-nav-tabs">
      <li role="presentation" class="active"><a  class="#c1">Deliverables</a></li>
      <li role="presentation"><a  class="#c2">Sub-Initiatives</a></li>
    </ul>
  </div>

  <div id="content">
    <div id="content1">
      <table class="table table-borderless" id="delivarable">
        <thead>
          <tr>
            <th><input type="checkbox" value="Bike"></th>
            <th>S/N</th>
            <th>Title</th>
            <th class="text-gre">MDA</th>
            <th class="text-gre">Total Project</th>
            <th class="text-gre">Total Sub-Initiative</th>
            <th class="text-gre">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="content2">
      <table class="table table-borderless" id="subinitiative">
        <thead>
          <tr>
            <th><input type="checkbox" value="Bike"></th>
            <th>S/N</th>
            <th>Title</th>
            <th class="text-gre">MDA</th>
            <th class="text-gre">Total Project</th>
            <th class="text-gre">Total Sub-Initiative</th>
            <th class="text-gre">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian forests.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian forest.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian forest.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian forest.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian forest.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" value="Bike"></td>
            <td>1</td>
            <td>Eradicate smuggling of PMS across Nigerian borders.</td>
            <td>MPR</td>
            <td>1682</td>
            <td>19</td>
            <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>