<div class="container">
    <div class="d-flex justify-content-between p-4">
        <h4 class="modal-title">{{contractModalTitle}}</h4>
        <!-- <button type="button" class="btn-Close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button> -->
        <button (click)="activeModal.dismiss('Cross click')" type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
    </div>
    <div class="modal-body d-flex flex-column ">
        <form [formGroup]="form" class="flex-column" (ngSubmit)="submit()">
            <!-- <div class="row">
                <div class="col-lg-12 form-group">
                    <label for="">Select State</label>
                    <select name="state_id" formControlName="state_id" class="form-select">
                        <option *ngFor="let item of states" [value]="item.id">{{item.title}}</option>
                    </select>
                </div>
            </div> -->
            <div class="row">
                <div class="col-lg-6 form-group">
                    <label for="">Select Year</label>
                    <select name="year" formControlName="year" class="form-select">
                        <option [value]="item.id" *ngFor="let item of years">{{item.title}}</option>
                    </select>
                </div>
                <div class="col-lg-6 form-group">
                    <label for="">Select Quarter</label>
                    <select name="quarter" formControlName="quarter" class="form-select">
                        <option [value]="item.id" *ngFor="let item of quarters">{{item.title}}</option>
                    </select>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12 form-group">
                    <label for="">Sub Component</label>
                    <select name="sub_component_id" formControlName="sub_component_id" class="form-select">
                        <option *ngFor="let item of subs" [value]="item.id">{{item.title}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 form-group">
                    <label for="">Cross Cutting Issue</label>
                    <select name="cross_cutting_issue_id" formControlName="cross_cutting_issue_id" class="form-select">
                        <option *ngFor="let item of cost_cutting_issues" [value]="item.id">{{item.title}}</option>
                    </select>
                </div>
            </div>
            
            <div class="col-lg-12 form-group">
                <label>Reported</label>
                <input type="text" name="reported" formControlName="reported" class="form-control">
            </div>
            <div class="row">
                <div class="col-lg-6 form-group">
                    <label>Investigated</label>
                    <input type="text" name="investigated" formControlName="investigated" class="form-control">
                </div>
                <div class="col-lg-6 form-group">
                    <label>Uninvestigated</label>
                    <input type="text" name="uninvestigated" formControlName="uninvestigated" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 form-group">
                    <label>Resolved</label>
                    <input type="text" name="resolved" formControlName="resolved" class="form-control">
                </div>
                <div class="col-lg-6 form-group">
                    <label>Unresolved</label>
                    <input type="text" name="unresolved" formControlName="unresolved" class="form-control">
                </div>
            </div>
            

           
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary px-4 me-3"
                    (click)="activeModal.close('Close click')">Close</button>
                <button class="btn btn-success px-4" type="submit">Submit</button>
            </div>
        </form>
    </div>

</div>
