<div class="row align-items-baseline">
    <span class="page_title mb-4">Strategic View</span>
    <span class="page_sub">2021 Result Frame work <i class="nc-icon nc-minimal-down text-dark font-weight-bold mt-2"></i></span>
</div>



<div class="secondrow">
    <div id="tabs">
        <ul class="nav nav-tabs" id="user-nav-tabs">
            <li role="presentation" class="active"><a  class="#c1">Tree View</a></li>
            <li role="presentation"><a  class="#c2">List View</a></li>
        </ul>
    </div>
</div>

<div id="content">
    <div id="content1" class="treecontent">
        <!-- <div class="treeview">
            <ul>
                <li><div>Hakkımızda</div>
                            <ul>
                                    <li><div>Misyon</div></li>
                                    <li><div>Vizyon</div></li>
                                    <li><div>Tarihçe</div></li>
                            </ul>
                    </li>
                    <li><div>Kalitemiz</div></li>
                    <li><div>Sıkça Sorulan Sorular</div></li>
            </ul>
        </div> -->
        <div class="viewbox">
            <div class="fisrow">
                <span>Strategic View</span>
                <img src="assets/img/icons/chevrons-left.svg" alt="">
            </div>

            <div class="secrow">
                <div class="prio">
                    <img src="assets/img/icons/arrow.svg" alt="">
                    <span>Priorties</span>
                </div>
            </div>

            <div class="treeview">
                <ul>
                    <li><div class="orange-tree-text">Priority 1</div>
                        <ul>
                            <li><div>Stabilizing</div></li>
                        </ul>
                    </li>
                    <li><div class="orange-tree-text">Priority 2</div>
                        <ul>
                            <li><div>Archivement</div></li>
                        </ul>
                    </li>
                    <li><div class="orange-tree-text">Priority 3</div>
                        <ul>
                            <li><div>Ensurance</div></li>
                        </ul>
                    </li>
                    <li><div class="orange-tree-text">Priority 4</div>
                        <ul>
                            <li><div>Stabilizing</div></li>
                        </ul>
                    </li>
                    <li><div class="orange-tree-text">Priority 5</div>
                        <ul>
                            <li><div>Archivement</div></li>
                        </ul></li>
                    <li><div class="orange-tree-text">Priority 6</div></li>
                        <ul>
                            <li class="lst"><div>Ensurance</div></li>
                        </ul>
                    <!-- </li> -->
                </ul>
            </div>
        </div>
        <div class="treebox">
            <div class="maincard">
                <div class="title">
                    <span class="fislogo">
                        <img src="assets/img/icons/login-round.svg" alt="">
                    </span>
                    <span>Priority 1</span>
                    <button>
                        <i class="nc-icon nc-simple-add"></i>
                    </button>
                </div>
                <div class="body">
                    Stabilize the macro economic
                    environment
                </div>
            </div>
        </div>
        <div class="treeul">
            <ul>
                <li>
                    <div class="drivercard" style="top:-3rem">
                        <div class="title">
                            <span>Driver A</span>
                            <div>
                                <button>
                                    <i class="nc-icon nc-simple-add"></i>
                                </button>
                                <button class="trash">
                                    <img src="assets/img/icons/trash.svg" alt="">
                                </button>
                            </div>
                        </div>
                        <div class="body">
                            Stabilize the macro economic
                            environment
                        </div>
                    </div>
                </li>

                <li><div class="drivercard" style="top:13rem">
                        <div class="title">
                            <span>Driver B</span>
                            <div>
                                <button>
                                    <i class="nc-icon nc-simple-add"></i>
                                </button>
                                <button class="trash">
                                    <img src="assets/img/icons/trash.svg" alt="">
                                </button>
                            </div>
                        </div>
                        <div class="body">
                            Stabilize the macro economic
                            environment
                        </div>
                    </div>
                </li>

                <li><div class="drivercard" style="top:20rem">
                    <div class="title">
                        <span>Driver C</span>
                        <div>
                            <button>
                                <i class="nc-icon nc-simple-add"></i>
                            </button>
                            <button class="trash">
                                <img src="assets/img/icons/trash.svg" alt="">
                            </button>
                        </div>
                    </div>
                    <div class="body">
                        Stabilize the macro economic
                        environment
                    </div>
                    </div>
                </li>

                <li><div class="drivercard" style="top:37rem">
                    <div class="title">
                        <span>Driver D</span>
                        <div>
                            <button>
                                <i class="nc-icon nc-simple-add"></i>
                            </button>
                            <button class="trash">
                                <img src="assets/img/icons/trash.svg" alt="">
                            </button>
                        </div>
                    </div>
                    <div class="body">
                        Stabilize the macro economic
                        environment
                    </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="fourthrow">
            <div class="leadingcard">
                <div class="title">
                    <span>Leading Indicator 1</span>
                        <button class="trash">
                            <img src="assets/img/icons/pen.svg" alt="">
                        </button>
                        <button data-toggle="modal" data-target="#createuserModal">
                            <i class="nc-icon nc-simple-add text-success font-weight-bold"></i>
                        </button>
                        <button class="trash">
                            <img src="assets/img/icons/redtrash.svg" alt="">
                        </button>
                </div>
                <div class="body">
                    <div>
                        Revenue to gdp ratio (%)
                        <span class="text-success">Targets</span>
                    </div>
                    <div>
                        <span>
                            Baseline 5.60 %
                        </span>
                        <span class="border-left border-success ps-3">
                            Baseline 5.60 %
                        </span>
                    </div>
                    <div>
                        <span class="source">Actual Source</span>
                        <span class="per">6.95 %</span>
                    </div>
                </div>
            </div>

            <div class="secnav">
                <div class="leadingcard" style="top:-2.3rem;">
                    <div class="title">
                        <span>Leading Indicator 1</span>
                            <button class="trash">
                                <img src="assets/img/icons/pen.svg" alt="">
                            </button>
                            <button data-toggle="modal" data-target="#createuserModal">
                                <i class="nc-icon nc-simple-add text-success font-weight-bold"></i>
                            </button>
                            <button class="trash">
                                <img src="assets/img/icons/redtrash.svg" alt="">
                            </button>
                    </div>
                    <div class="body">
                        <div>
                            Revenue to gdp ratio (%)
                            <span class="text-success">Targets</span>
                        </div>
                        <div>
                            <span>
                                Baseline 5.60 %
                            </span>
                            <span class="border-left border-success ps-3">
                                Baseline 5.60 %
                            </span>
                        </div>
                        <div>
                            <span class="source">Actual Source</span>
                            <span class="per">6.95 %</span>
                        </div>
                    </div>
                </div>
                <div class="leadingcard" style="top:0rem">
                    <div class="title">
                        <span>Leading Indicator 1</span>
                            <button class="trash">
                                <img src="assets/img/icons/pen.svg" alt="">
                            </button>
                            <button>
                                <i class="nc-icon nc-simple-add text-success font-weight-bold"></i>
                            </button>
                            <button class="trash">
                                <img src="assets/img/icons/redtrash.svg" alt="">
                            </button>
                    </div>
                    <div class="body">
                        <div>
                            Revenue to gdp ratio (%)
                            <span class="text-success">Targets</span>
                        </div>
                        <div>
                            <span>
                                Baseline 5.60 %
                            </span>
                            <span class="border-left border-success ps-3">
                                Baseline 5.60 %
                            </span>
                        </div>
                        <div>
                            <span class="source">Actual Source</span>
                            <span class="per">6.95 %</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="leadingcard" style="top:25rem">
                <div class="title">
                    <span>Leading Indicator 1</span>
                        <button class="trash">
                            <img src="assets/img/icons/pen.svg" alt="">
                        </button>
                        <button>
                            <i class="nc-icon nc-simple-add text-success font-weight-bold"></i>
                        </button>
                        <button class="trash">
                            <img src="assets/img/icons/redtrash.svg" alt="">
                        </button>
                </div>
                <div class="body">
                    <div>
                        Revenue to gdp ratio (%)
                        <span class="text-success">Targets</span>
                    </div>
                    <div>
                        <span>
                            Baseline 5.60 %
                        </span>
                        <span class="border-left border-success ps-3">
                            Baseline 5.60 %
                        </span>
                    </div>
                    <div>
                        <span class="source">Actual Source</span>
                        <span class="per">10.95 %</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="content2">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column sel">
                Priority
                <select name="" id="">
                    <option value="" selected>Priority 1 ( Provide security for all citizens )</option>
                    <option value=""></option>
                </select>
            </div>
            <div class="col-lg-6 d-flex flex-column sel">
                Diversity
                <select name="" id="">
                    <option value="" selected>Driver A  P2D1 ( Improve Ease and Safety of Transportation )</option>
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="mt-4">
            <table class="table table-borderless" id="activityTable">
                <thead>
                  <tr>
                    <th><input type="checkbox" value="Bike"></th>
                    <th>Indicator Category</th>
                    <th>Indicator Name</th>
                    <th>Baseline</th>
                    <th>Target</th>
                    <th>Actual</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><input type="checkbox" value="Bike"></td>
                    <td data-toggle="toggle"><i class="nc-icon nc-minimal-right me-2"></i>L.l 1</td>
                    <td>Reduction in number of Criminal
                        incidents recorded</td>
                    <td>5.60</td>
                    <td>5.60</td>
                    <td><span class="actual">5.60 %</span></td>
                    <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
                  </tr>
                  <tr class="hideTr d-none">
                    <td></td>
                    <td class="ps-4" data-toggle="toggle"><i class="nc-icon nc-minimal-right me-2"></i> Outcome Indicator 1</td>
                    <td>Improved Security</td>
                    <td>5.60</td>
                    <td>5.60</td>
                    <td><span class="actual green">5.60 %</span></td>
                    <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
                  </tr>
                  <tr class="hideTr d-none">
                    <td></td>
                    <td class="ps-5"> Outcome Indicator 1</td>
                    <td>Improved Security</td>
                    <td>5.60</td>
                    <td>5.60</td>
                    <td><span class="actual green">5.60 %</span></td>
                    <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
                  </tr>
                  <tr class="hideTr d-none">
                    <td></td>
                    <td class="ps-4"><i class="nc-icon nc-minimal-right me-2"></i> Outcome Indicator 1</td>
                    <td>Improved Security</td>
                    <td>5.60</td>
                    <td>5.60</td>
                    <td><span class="actual green">5.60 %</span></td>
                    <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" value="Bike"></td>
                    <td>L.l 3</td>
                    <td>Reduction in number of Criminal
                        incidents recorded</td>
                    <td>5.60</td>
                    <td>5.60</td>
                    <td><span class="actual orange">5.60 %</span></td>
                    <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" value="Bike"></td>
                    <td>L.l 4</td>
                    <td>Improved Security</td>
                    <td>5.60</td>
                    <td>5.60</td>
                    <td><span class="actual red">-1.90 %</span></td>
                    <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" value="Bike"></td>
                    <td>L.l 5</td>
                    <td>Status of completion/% implementation</td>
                    <td>5.60</td>
                    <td>5.60</td>
                    <td><span class="actual orange">5.60 %</span></td>
                    <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="createuserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add new Leading Indicator</h5>
        </div>
        <div class="modal-body d-flex flex-column">
          <div class="row">
            <div class="col-lg-6 d-flex flex-column">
              <label for="">Name</label>
              <input type="text" placeholder="select">
              <label for="">Data Source</label>
              <select name="" id="">
                <option value="" selected>Data source</option>
                <option value="">User</option>
              </select>
              <label for="">Unit type</label>
              <select name="" id="">
                <option value="" selected>Data source</option>
                <option value="">User</option>
              </select>
              <label for="">Base Line</label>
              <select name="" id="">
                <option value="" selected>Data source</option>
                <option value="">User</option>
              </select>
              <label for="">Target Year 1(2020)</label>
              <select name="" id="">
                <option value="" selected>Data source</option>
                <option value="">User</option>
              </select>
              <label for="">Target Year 3(2020)</label>
              <select name="" id="">
                <option value="" selected>Data source</option>
                <option value="">User</option>
              </select>
              <label for="">Aggregation</label>
              <select name="" id="">
                <option value="" selected>Data source</option>
                <option value="">User</option>
              </select>
            </div>
            <div class="col-lg-6 d-flex flex-column">
              <label for="">Type</label>
              <select name="" id="" placeholder="Select">
                <option value=""></option>
              </select>
              <label for="">MDA</label>
              <select name="" id="" placeholder="Select">
                <option value=""></option>
              </select>
              <label for="">Unit type</label>
              <select name="" id="">
                <option value="" selected>Data source</option>
                <option value="">User</option>
              </select>
              <label for="">Actual</label>
              <select name="" id="">
                <option value="" selected>Data source</option>
                <option value="">User</option>
              </select>
              <label for="">Target Year 2(2020)</label>
              <select name="" id="">
                <option value="" selected>Data source</option>
                <option value="">User</option>
              </select>
              <label for="">Target Year 4(2020)</label>
              <select name="" id="">
                <option value="" selected>Data source</option>
                <option value="">User</option>
              </select>
              <label for="">Result Type</label>
              <select name="" id="">
                <option value="" selected>Data source</option>
                <option value="">User</option>
              </select>
            </div>
          </div>
          <div class="footer">
            <button class="cancel">Cancel</button>
            <button class="submit">Submit</button>
          </div>
        </div>