<div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Upload Plans</h5>
      <a class="btn-close" (click)="activeModal.hide()"></a>
    </div>
    <div class="modal-body">
      <div>
        <div class="col-md-6 form-group" *ngIf="!is_state_user">
          <label for="" class="form-label">Select State *</label>
            <select [(ngModel)]="state_id" class="form-select" (change)="setLGAS()">
              <option *ngFor="let item of states" [value]="item.id">{{item.title}}</option>
            </select>
        </div>
        <div class="col-md-6 form-group">
          <label for="" class="form-label">Select LGA *</label>
            <select [(ngModel)]="lga_id" class="form-select">
              <option *ngFor="let item of selectedState?.lgas" [value]="item.id">{{item.title}}</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">Select Project XLSX Files to Upload *</label>
            <input type="file" (change)="onfilechange($event)" multiple="false" name="file-name" id="file-name" class="form-control" readonly="readonly" accept=".csv, .xlsx, .xls"/>
            <span style="position: relative; right: 355px; top: 14px">{{fileName}}</span>
          </div>
      </div>
  
          <div class="container" *ngIf="projectData?.length > 0">
            <div class="row">
              <!-- <div class="col-md-12">
                <div *ngIf="mdas">
                  <span><b>Ministry</b> </span>{{ mdas[0]?.name }}
                </div>
              </div> -->
              <div class="col-md-12">
                <div>
                  <span><b>File Name</b></span>{{ fileName }}
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="table-responsive pb-5">
                <table class="table table-hover table-fixed mb-5">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>plan_id</th>
                      <th>school_name</th>
                      <th>location</th>
                      <th>latitude</th>
                      <th>longitude</th>
                      <th>school_code</th>
                       
                      <th>grant_size</th>
                      <th>total_enrolment</th>
                      <th>male_enrolment</th>
                      <th>female_enrolment</th>
                      <th>type_of_school</th>
                      <th>year_of_establishment</th> 
                    </tr>
                  </thead>
  
                  <tbody>
                    <tr *ngFor="let item of projectData; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>
                        <input type="text" [(ngModel)]="item.plan_id" class="form-control" />
                      </td>
                      <td>
                        <input type="text" [(ngModel)]="item.school_name" class="form-control" />
                      </td>
                      <td>
                        <input type="text" [(ngModel)]="item.location" class="form-control" />
                      </td>
                      <td>
                        <input type="text" [(ngModel)]="item.longitude" class="form-control" />
                      </td>
                      <td>
                        <input type="text" [(ngModel)]="item.latitude" class="form-control" />
                      </td>
                      <td>
                        <input type="text" [(ngModel)]="item.school_code" class="form-control" />
                      </td>
                      <td>
                        <input type="text" [(ngModel)]="item.grant_size" class="form-control" />
                      </td>
                      <td>
                        <input type="text" [(ngModel)]="item.total_enrolment" class="form-control" />
                      </td>
                      <td>
                        <input type="text" [(ngModel)]="item.male_enrolment" class="form-control" />
                      </td>
                      <td>
                        <input type="text" [(ngModel)]="item.female_enrolment" class="form-control" />
                      </td>
                      <td>
                        <input type="text" [(ngModel)]="item.type_of_school" class="form-control" />
                      </td>
                      <td>
                        <input type="text" [(ngModel)]="item.year_of_establishment" class="form-control" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button
                  class="btn btn-lg btn-secondary mx-2"
                  data-dismiss="modal"
                  aria-label="Close"
                  (click)="activeModal.hide()"
                >
                  Cancel
                </button>
                <button
                  type="submit"
                  class="btn-lg btn btn-success mx-2"
                  id="nexts2"
                  (click)="createProject()"
                >
                  Upload Plans
                </button>
              </div>
            </div>
          </div>
    </div>
  </div>