<div class="container-fluid">
  <div class="row mb-4 pr-3">
    <div class="col-lg-12">
      <div class="map">
        <app-map *ngIf="mapData" [mapData]="mapData"></app-map>
      </div>
    </div>
    <!-- <div class="col-lg-3 card p-4">
        <div class="row">
            <div class="col-lg-12 col-md-6">
                    <p class="mb-3">Total Reporting</p>
                    <div class="d-flex mb-3">
                        <div class="col-7 p-0 border-right">Projects</div>
                        <div class="col-5 p-0 text-right">
                          <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="citizenSwitch" checked [(ngModel)]="projectSwitch">
                        </div>
                        </div>
                    </div>
                    <div class="d-flex mb-3">
                        <div class="col-7 p-0 border-right">SBMC</div>
                        <div class="col-5 p-0 text-right">
                          <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="projectSwitch" checked [(ngModel)]="sbmcSwitch">
                          </div>
                        </div>
                    </div>
                    <div class="d-flex mb-3">
                        <div class="col-7 p-0 border-right">CBMC</div>
                        <div class="col-5 p-0 text-right">
                          <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="projectSwitch" checked [(ngModel)]="cbmcSwitch">
                          </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col-7 p-0 border-right">Third Party</div>
                        <div class="col-5 p-0 text-right">
                          <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="projectSwitch" checked [(ngModel)]="thirdPartySwitch">
                            <label class="custom-control-label" for="projectSwitch"></label>
                          </div>
                        </div>
                    </div>
                </div>
        </div>
        <hr class="bkg-success">
        <p class="mb-3">GIS LEGENDS</p>
        <div class="d-flex">
            <div class="col">
                <div class="mb-3"><small><span class="dot bkg-secondary mr-2"></span> Projects</small></div>
                <div><small><span class="dot bg-warning mr-2"></span> SBMC</small></div>
            </div>
            <div class="col">
                <div class="mb-3"><small><span class="dot bg-dark mr-2"></span> Third Party</small></div>
                <div><small><span class="dot bg-danger mr-2"></span> CBMC</small></div>
            </div>
        </div>
    </div> -->
  </div>
</div>
